@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
}

@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
}

a, h1, h2, p, span, li, label {
    @apply text-white;
}

@mixin view-content{
    animation: viewBlock 1.5s ease forwards;
    @keyframes viewBlock {
        from {opacity: 0%}
        to {opacity: 100%;}
    }
}

@mixin logo {
    @apply py-2 border-y border-white h-8;
}

@mixin header-flex-center {
    @apply justify-center items-center gap-10;
}

// блоки контента
@mixin content($border: false) {
    @apply flex flex-col items-start justify-start gap-10 lg:gap-16 w-auto;

    p {
        @apply pl-6 w-4/5 text-[16px] text-[#ffffff80] leading-[24px] border-l border-white;
    }

    h1, h2 {
        @apply w-full font-bold uppercase;
        
    }
    h1, p {
        @apply font-[400];
        font-family: 'Raleway', sans-serif;
    }
    h1 {
        @apply text-3xl md:text-5xl lg:text-6xl;
        @apply lg:leading-[87px];
    }
    h2 {
        @apply text-2xl md:text-4xl lg:text-5xl font-[600];            
        font-family: 'Montserrat', sans-serif;
    }

    @if $border {
        @apply gap-5 lg:gap-14 pl-5 border-l border-white;
        p {
            @apply border-none p-0;
        }
    }
}

// панель навигации
@mixin navigation($mobile: true) {
    @apply flex w-auto justify-center items-start lg:items-center flex-1;

    .navbar-urls {
        @include header-flex-center();
        @apply flex-1;

        @if $mobile {
            @apply hidden lg:flex;
        } @else {
            @apply flex flex-col gap-4;
        }
        li {
            @apply text-white text-xl lg:text-sm font-[400];
            font-family: 'Montserrat', sans-serif;
            &:hover {
                @apply border-b border-white;
            }
        }

    }
}

// размытие заднего 
@mixin blur() {
    @apply fixed w-full h-full bg-[#0F1D4599] top-0 left-0 z-0 backdrop-blur-sm;
    animation: viewBlur .45s ease forwards;
    &[hidden] {
        @apply hidden opacity-0;
    }
    @keyframes viewBlur {
        from {opacity: 0%;}
        to {opacity: 100%;}
    }
}

// задний фон сайта
@mixin bg-styles {
    content: "";
    @apply fixed w-full h-full top-0 left-0 right-0 bottom-0 -z-10 bg-cover bg-fixed bg-transparent;
}

// input типа checkbox
@mixin checkbox() {
    @apply flex gap-5 items-center justify-start w-auto h-auto flex-wrap md:flex-nowrap;

    input[type="checkbox"] {
        @apply w-[30px] h-[30px] border border-white flex appearance-none relative;

        &[checked] {
            &::before {
                content: "";
                background: url("../imgs/success.svg");
                @apply absolute top-0 left-0 w-full h-full flex justify-center items-center bg-cover;
            }
        }
        &:hover {
            @apply cursor-pointer;
        }
    }
    span {
        @apply font-[400];
        font-family: 'Montserrat', sans-serif;
    }
}

// модальное окно
@mixin modal {
    @apply hidden;

    &[open] {
        @apply flex fixed top-0 h-full left-0 w-full sm:w-3/4 md:w-2/4 xl:w-1/3 z-10 
            bg-[#0F1D45] justify-center items-start overflow-hidden;
            animation: view .45s ease forwards;

        .modal-content {
            @apply m-10 w-full flex flex-col gap-10 h-full;

            .modal-exit {
                @apply flex place-self-end;
            }

            .navbar {
                @include navigation(false);
            }

            .modal-form {
                @apply h-full w-full;
                .form-content, .form-sent {
                    h1, p {
                        font-family: 'Raleway', sans-serif;
                    }
                    h1 {
                        @apply text-5xl font-[600];
                        @apply lg:leading-[74px];
                    }
                }

                &[success] {
                    .form-content {
                        @apply hidden;
                    }
                    .form-sent {
                        @apply flex w-full h-full flex-col items-center justify-evenly;

                        .logo {
                            @include logo();
                            @apply self-end bg-[#5e9ce427];
                            box-shadow: -3em -.75em 15em 10em #5E9DE436;
                        }
                        h1 {
                            @apply text-center;
                        }
                        p {
                            @apply text-3xl font-[600] w-2/3 text-center;
                            @apply lg:leading-[54px];
                        }
   
                    }
                }

                .form-content {
                    @apply flex flex-col gap-12 w-full h-auto;
                    .group-input {
                        @apply flex flex-col gap-8 w-full h-auto;

                        input {
                            @apply placeholder:uppercase px-1 py-3 outline-none border-b border-white bg-[#00000000] text-white text-lg font-[400];
                            font-family: 'Montserrat', sans-serif;
                        }
                    }
                    .consent-block {
                        @include checkbox();
                    }
                    .btn {
                        @apply w-full sm:w-max
                    }
                }

                .form-sent {
                    @apply hidden;
                }
            }
        }
    }
    @keyframes view {
        from {@apply -ml-[100%];}
        to {@apply -ml-0;}
    }
}
